/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f5f5f5;
  /* user-select: none; */
}

 .loader{
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  
} 
.nav {
  position: relative;
  top: 0;
  left: 0;
  align-items: center;
  width: 100%;
  padding: 15px 50px;
  background-color: black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logo img {
  align-items: center;
  border-radius: 50%;
  width: 3.5rem;
  
}

.nav,
.nav .nav-links {

  display: flex;
  align-items: center;
  text-decoration: underline;
}

.nav {
  justify-content: space-between;
}

a {
  color: white;
  text-decoration: none;
}


.nav .logo {
  font-weight: 500;
}

.nav .nav-links {
  column-gap: 17px;
  list-style: none;
}

.nav .nav-links a:hover {
  background-color: red;
}

.nav .nav-links a {
  transition: 0.2s linear;
}

.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}

.nav .search-icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.nav .search-box {
  position: absolute;
  right: 250px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}

.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}

.search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  left: 15px;
  color: #4a98f7;
  transform: translateY(-50%);
}

.search-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #fff;
  padding: 0 15px 0 45px;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}




.ccar{
   margin: auto;
   width: 85%;
   background: #fffcf8;
   padding: .5%;
} 


/* ABOUT */

.About-txt p{
  word-spacing: 8px;
  /* line-height: 35px; */
  /* font-size: larger; */
  /* width:80%; */
  /* text-align: center; */
  /* display: flex;
  align-items: center; */


}

.About-txt h2{
  
  font-size: 25px;
  color: #3498db;
}




/* Page main */

.mainpg-img{
    width: 50%;
}

.Mainhead{
  margin: 23px

}

.Maintopic{
    text-align: center;

}





/* text line define */
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
          line-clamp: 3;
  -webkit-box-orient: vertical;
}
.truncate-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
          line-clamp: 1;
  -webkit-box-orient: vertical;
}


/* footer */

.content1{
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text{
  font-size: 2.5rem;
  font-weight: 600;
  color: white;
}
.content1 .p{
  font-size: 2.1875rem;
  font-weight: 600;
  color: white;
}
footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  background: #111;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  color: white;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.ft{
  color: white;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  color: white;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #f12020;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  color: white;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #f12020;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
  color: white;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: white;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: #000;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}



.xxx h2{
  margin: 23px;
}


.free h2{
  margin: 60px;
}


 /* contact */

.contectheight{
  height: 80vh;
  
}

.aboutheight{
  min-height: 130vh;
  
}


/* mainpage */


.mainn img{
  margin: 45px;
  width: 65%;
  

} 

 /* icons */

 
 .fbb {
  color: blue;
  font-size: 40px;
}

.ytt{
  color: red;
  font-size: 40px;
}

.ig{
  color: black;
  font-size: 40px;
}

.pin{
  color: red;
  font-size: 40px;
}

.wa{
  color:#28a745;
  font-size: 40px;
}
.tw{
  color:#3498db;
  font-size: 40px;
}




/* responsive */
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }

  .nav .search-box {
    right: 150px;
  }
}

@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }

  .nav .search-box {
    right: 100px;
    max-width: 400px;
  }
}





 




@media screen and (max-width: 768px) {

  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }

  .nav {
    padding: 15px 0;
  }

  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: #11101d;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
  }

  .nav.openNav .nav-links {
    left: 0;
  }

  .nav .navOpenBtn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }

  .nav .navCloseBtn {
    position: absolute;
    padding-right: 20px;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }

  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
  .About-txt{
    width: 260px;
    /* justify-content: center; */
    margin: 0 20px;
  }

  .about-img img{
    width: 200px;
    
  }
  
.pagemain-img img{
  height: 100px;
}

.recent{
  display: none;
}

.social{
  margin: 10px;
}

.fbb {
  color: blue;
  font-size: 20px;
}

.ytt{
  color: red;
  font-size: 20px;
}

.ig{
  color: black;
  font-size: 20px;
}

.pin{
  color:red;
  font-size: 20px;
}

.mainn img{
  margin: auto;
  margin-top: 4rem;
  border-radius: 0px;
  width: 100%;
}

}


.about-img img{
  max-width: 450px;
  
}


.linkcolour{
  color: #000;
}

.listnone li{
  text-decoration: none;
}
.znavbar{
  background-color: #417cfad5;
  width: 100%;
  z-index: 999;
}

/* relative image */


.pagemain-img img{
  background: center;
  background-size: cover;
  width: 100%;
  height: 300px;
}





.card-body-fixed-height {
  height: 300px; /* Set the desired fixed height for the card body */
  overflow: hidden; /* Hide any content that exceeds the fixed height */
}

.card-title-fixed-length {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%; /* Adjust the maximum width as per your design */
}

/* Homepage.css */

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-title-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 8px;
  color: white;
}



/* Cards css */
.cards {
  border: 1px solid #e5e5e5;
  background: #fffcf8;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cards:hover {
  transform: translateY(-4px); /* Add a slight lift effect on hover */
}

/* Styling for the card image */
.cards-img-top {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

/* Styling for the card body */
.cards-body {
  padding: 16px;
  height: 410px; 
  
}

/* Styling for the card title */
.cards-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

/* Styling for the card text */
.cards-text {
  font-size: 14px;
  color: #555;
  margin-bottom: 16px;
  max-height: 120px; /* Limit the content height to create a truncate effect */
  overflow: hidden;
}

/* Styling for the buttons */
.btn {
  font-size: 14px;
  text-transform: uppercase;
  padding: 8px 12px;
  border-radius: 4px;
}

/* Styling for the "Read More" button */
.btn-outline-success {
  border: 1px solid #28a745;
  color: #28a745;
}

/* Styling for the "Like" button */
.btn-outline-danger {
  border: 1px solid #dc3545;
  color: #dc3545;
}

/* Media query for smaller screens */
@media (max-width: 576px) {
  .card {
    width: 100%;
  }
}

/* Slider */

.mySwiper {
  width: 100%;
  height: auto;
}

.swiper-image {
  width: 100%; /* Let the width adjust automatically */
  max-height: 650px; /* Set the maximum height */
  object-fit: contain; /* Maintain aspect ratio while fitting within the max height */
}

.pillarboxed-image {
  /* background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;  */
  width: 100%; /* Full width of the container */
  height: auto; /* Maintain aspect ratio */
  max-height: 94vh; 
  object-fit: cover;
  /* Pillarboxing */
  position: relative;
}

/* Add vertical bars for pillarboxing effect */
.pillarboxed-image::before,
.pillarboxed-image::after {
  content: ''; /* Create pseudo-elements for vertical bars */
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0%; /* Adjust the width of the vertical bars as needed */
  background-color: black; /* Color of the bars */
}

.pillarboxed-image::before {
  left: 0; /* Left bar */
}

.pillarboxed-image::after {
  right: 0; /* Right bar */
}

.swiper {
  width: 100%;
  height: 100%;
} 
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
}

.swiper-container {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  /* height: 100%;  */
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
}

.carousel-news-title {
  position: absolute;
  bottom: 10%;
  left: 5%;
  background-color: transparent;
  color: white;
  padding: 20px;
  width: 50%;
  box-sizing: border-box;
  z-index: 1;
  text-align: left;
  font-size: 40px;
}

.news-article-image {
  /* background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;  */
  width: 100%; /* Full width of the container */
  height: auto; /* Maintain aspect ratio */
  max-height: 65vh; 
  object-fit: cover;
  /* Pillarboxing */
  position: relative;
}


.sidee {
  display: flex;
}